[Desktop Entry]
Name[ca]=Terminal Quake
Name[cs]=Quake Terminal
Name[de]=Quake Terminal
Name[es]=Quake Terminal
Name[fa]=Quake Terminal
Name[fr]=Terminal Quake
Name[gl]=Terminal Quake
Name[hr]=Quake Terminal
Name[hu]=Quake Terminál
Name[it]=Quake Terminal
Name[ja]=Quake 端末
Name[ko]=Quake 터미널
Name[nb]=Quake Terminal
Name[nl]=Quake Terminal
Name[pa]=ਗੁਆਕੀ ਟਰਮੀਨਲ
Name[pl]=Terminal Quake
Name[pt_BR]=Terminal Quake
Name[ru]=Терминал Quake
Name[sv]=Quake Terminal
Name[tr]=Quake Uçbirim
Name[uk]=Термінал Quake
Name[zh_CN]=Quake 终端
Name=Quake Terminal
Comment[cs]=Používejte terminál jako ve hře Quake
Comment[de]=Verwenden Sie die Befehlszeile in einem Quake-ähnlichen Terminal
Comment[fr]=Exploitez la ligne command dans un terminal tel Quake
Comment[pl]=Używanie wiersza poleceń w terminalu w stylu gry Quake
Comment[ru]=Использовать командную строку в Quake терминале
Comment=Use the command line in a Quake-like terminal
TryExec=quake
Exec=quake
Icon=quake
Type=Application
Categories=GNOME;GTK;System;Utility;TerminalEmulator;
StartupNotify=true
X-Desktop-File-Install-Version=0.22
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
