[Desktop Entry]
Name=Quake Preferences
Comment=Configure your Quake sessions
TryExec=quake
Exec=quake -p
Icon=quake
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
X-GNOME-Settings-Panel=quake
X-Desktop-File-Install-Version=0.15
Keywords=Terminal;Utility;
