[Desktop Entry]
Name=Quake Preferences
Comment=Configure your Quake sessions
TryExec=quake
Exec=quake -p
Icon=quake
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
X-GNOME-Settings-Panel=quake
X-Desktop-File-Install-Version=0.15
Keywords[ca]=Terminal;Utilitats;
Keywords[cs]=Terminál;Nástroje;
Keywords[de]=Terminal;Dienstprogramm;
Keywords[es]=Terminal;Utilidad;
Keywords[fr]=Terminal;Utilitaires;
Keywords[fi]=Pääte;Apuohjelma;
Keywords[hr]=Terminal;Pomoćni program;
Keywords[it]=Terminale;Utility;
Keywords[ja]=Terminal;Utility;
Keywords[nb]=Terminal;Verktøy;
Keywords[nl]=Terminal;Hulpmiddel;
Keywords[pl]=Terminal;Utility;
Keywords[ru]=Терминал;Инструменты;
Keywords[sv]=Terminal;Verktyg;
Keywords[tr]=Terminal;Utility;Araç;Yardımcı program;
Keywords[zh_CN]=终端;实用;
Keywords=Terminal;Utility;
